.footer__paragraph {
  color: #545454;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 66px 0 60px 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .footer__paragraph {
    padding: 36px 0 48px 0;
  }
}
